body {
	font-family: 'Roboto', sans-serif;
	background: #044F85;
}

body:after {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(va-logo.png) center center no-repeat; 
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}

h1, h2, h3 { margin: 0; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
input, label { font-size: 14px; }

.gradient {
	background: #0072c4; /* Old browsers */
	background: linear-gradient(to bottom,  #0072c4 0%,#044f85 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c4', endColorstr='#044f85',GradientType=0 ); /* IE6-9 */
	color: white;
}

.box-header {
	margin: 0;
	padding: 10px 20px;
}

.hidden { 
	display: none;
	opacity: 0;
}

.loader {
	background: url(loader.gif) center center no-repeat #333;
	opacity: 0.3;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.error {
	background: #FFE2DE;
	padding: 10px;
	color: #663E38;
	margin-bottom: 20px;
}

.container {
	margin: auto;
	margin-top: 10vh;
	max-width: 400px;
	box-shadow: 3px 3px 6px #333;
	background: white;
}

.content {
	padding: 20px;
}

.input-group {
	margin-bottom: 20px;
}
.input-group label {
	display: inline-block;
	width: 100px;
}
.input-group input[type="text"], .input-group input[type="password"] {
	padding: 8px;
	width: 236px;
}
input[type="submit"] {
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
}

#user-info div {
	background: #f2f2f2;
	margin: 10px 0;
}
#user-info span.label {
	width: 120px;
	padding: 10px;
	display: inline-block;
	background: #333;
	color: white;
	margin-right: 10px;
}
#user-info .label:after {
	content: ":";
}